*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 72px;
    font-weight: 600;
    color: white;
    opacity: .8;
}
body{
    
    background-size: cover;
    background-image: linear-gradient(rgba(173, 4, 150, 0.3), rgb(50, 177, 203)),url('https://img.freepik.com/premium-photo/silhouettes-concert-with-purple-neon-lights_27550-2704.jpg?w=360')
}
